
<div class="home-header">
  <div class="container" >
    <div class="header-wrapper" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutAlign="space-between center" >


      <div class="logo">
        <a [routerLink]="['/home']" routerLinkActive="router-link-active" ><img src="assets/images/logo-02-01.png"></a>
    </div>

    <div class="phone-wrap" fxLayout="row">
      <div class="search-box">
        <input class="search-input" type="text" placeholder="Cherchez un produit ...">
        <button class="search-btn"><mat-icon>search</mat-icon></button>
      </div>
    </div>


        <div class="thm-button">

          <button mat-raised-button color="primary"> <mat-icon>account_circle          </mat-icon>  Se connecter  </button>
      </div>





    </div>


  </div>
</div>
<div class="container">
<div class="menu-container1" fxLayout="row" fxLayoutAlign="space-between center" >

      <app-menu></app-menu>
      <div class="call-bucket-wrap" fxLayout="row" fxLayout.sm="row" fxLayoutAlign="center center" >

              <div class="main-menu-wrapper-2" fxLayout="row"  fxLayoutAlign="space-between center" >
                  <mat-toolbar class="top-navbar top menu">

                         <div class="devider2">

                         </div>
                    <app-shopping-widgets [shoppingCartItems]="shoppingCartItems"></app-shopping-widgets>
                  </mat-toolbar>
                </div>
            </div>
  </div>

</div>

