<div class="categories-section sec-padding" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start"  class="p-0">
    <div fxFlex="100" fxFlex.gt-sm="50" class="left-section">
        <div class="item mb-15" style=" min-height: 200px;  background-image:url('assets/images/bg/cat-1.png'); background-position:center;      border-radius: 10px;"  fxLayout="row" fxLayoutAlign="center center" >

          <div class="product-info">
              <h4><a href="">Linge de maison et textile </a></h4>

          </div>
        </div>

        <div class="banerCo" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start"  fxLayout="row" fxLayoutAlign="center center" >
            <div class="item mr-7 h" style=" min-height: 200px; min-width: 49% ; background-image:url('assets/images/bg/cat-1.png'); background-position:center;     border-radius: 10px;"  fxLayout="row" fxLayoutAlign="center center"  >
              <div class="product-info">
                <h4><a href="">électroménager </a></h4>

            </div>
            </div>

            <div class="item ml-7 h"  style=" min-height: 200px; min-width: 49% ; background-image:url('assets/images/bg/cat-1.png'); background-position:center;     border-radius: 10px;"  fxLayout="row" fxLayoutAlign="center center"  >
              <div class="product-info">
                <h4><a href="">Salle de bain  </a></h4>

            </div>
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" class="right-section">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start">
            <div class="item mr-7 h" style=" min-height: 200px; min-width: 49% ; background-image:url('assets/images/bg/cat-1.png'); background-position:center;     border-radius: 10px;"  fxLayout="row" fxLayoutAlign="center center"  >
              <div class="product-info">
                <h4><a href="">Tapis et paillasson  </a></h4>

            </div>
            </div>
            <div class="item ml-7 h" style=" min-height: 200px; min-width: 49% ; background-image:url('assets/images/bg/cat-1.png'); background-position:center;     border-radius: 10px;"   fxLayout="row" fxLayoutAlign="center center"  >
              <div class="product-info">
                <h4><a href="">Luminaires et éclairage  </a></h4>

            </div>
            </div>
        </div>
        <div class="item mt-15" style=" min-height: 200px;   background-image:url('assets/images/bg/cat-1.png'); background-position:center;      border-radius: 10px;"   fxLayout="row" fxLayoutAlign="center center" >
          <div class="product-info">
            <h4><a href="">Cuisine et électroménager </a></h4>

        </div>
          </div>
      </div>
</div>

