<div class="info-bar-wraper sec-padding">
  <div class="container" style="background: #f4f6fd; padding: 40px  !important;  border-radius: 16px !important;">
    <div fxLayout="row wrap" class="info-bar">
      <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
        <div class="light-block" fxLayout="column"  fxLayoutAlign="start center">
          <div class="icon"> <mat-icon class="mat-icon-xlg  m-0">local_shipping</mat-icon></div>
          <div class="content">
            <p>livraison gratuite</p>
           </div>
        </div>
      </div>
      <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
        <div class="light-block" fxLayout="column"  fxLayoutAlign="start center">
          <div class="icon"> <mat-icon class="mat-icon-xlg  m-0">local_shipping</mat-icon></div>
          <div class="content">
            <p>livraison gratuite</p>
           </div>
        </div>
      </div>
      <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
        <div class="light-block" fxLayout="column"  fxLayoutAlign="start center">
          <div class="icon"> <mat-icon class="mat-icon-xlg  m-0">local_shipping</mat-icon></div>
          <div class="content">
            <p>livraison gratuite</p>
           </div>
        </div>
      </div>
      <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
        <div class="light-block no-bd" fxLayout="column"  fxLayoutAlign="start center">
          <div class="icon"> <mat-icon class="mat-icon-xlg  m-0">local_shipping</mat-icon></div>
          <div class="content">
            <p>livraison gratuite</p>
           </div>
        </div>
      </div>
    </div>
    <div class="subscribe">
      <div class="subscribe-wrap" fxLayout="row" fxLayoutAlign="space-between center" >
        <p>Inscrivez-vous à nos communications pour recevoir nos meilleures offres! </p>
        <div class="form-wrap" fxLayout="row">
        <div class="inputIc"> <input type="text" id="name" name="name" placeholder="Search for desired products" ></div>

          <button mat-raised-button color="primary">Démarrer</button>
        </div>
      </div>
    </div>
  </div>
</div>
