<footer class="footer sec-padding contact-area" id="contact">




           <div class="container">
              <div class="row">
                  <div class="col-lg-6 offset-lg-3">
                      <div class="contact-content text-center" style="color: #fff !important;">

                          <h6 style="color: #fff !important;"> BLOC 74 NR 2 SIDI BERNOUSSI , CASABLANCA</h6>
                          <h6 style="color: #fff !important;" > +212635890005 <span>|</span>+212620358956</h6>

                      </div>
                  </div>
              </div>
          </div>



</footer>
